{% extends 'includes/base.html' %}
{% block body %}
 <div class="container">
    <div class="row">
{#        burada navbar görüntülenecek#}
    </div>
    {% include 'includes/tabprofil.html' with s=sayfa %}
    <div class="col col-md-10">
        {% if sayfa == 1 %}
            1. sayfa yı görüntülüyorsunuz
        {% elif sayfa == 2 %}
            2. sayfa yı görüntülüyorsunuz
        {% elif sayfa == 3 %}
            3. sayfa yı görüntülüyorsunuz
        {% endif %}
    </div>

</div>
{% endblock %}