{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                {% include 'includes/messages.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                <h3 style="text-align: center">Şifremi Unuttum</h3>
                <br>
                <div class="form-group">
                    {{ form|crispy }}
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Şifre Gönder</button>
                <br>
            </div>
        </div>
    </div>
</form>
