{% load static %}
<ul class="nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Durum..</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Tümü</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Okunmamış</a>
        <a class="dropdown-item" href="#">Okunmuş</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nereden..</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Tümü</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Gelen</a>
        <a class="dropdown-item" href="#">Giden</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">İlan..</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Tümü</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">İlan 1</a>
        <a class="dropdown-item" href="#">İlan 2</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Kime..</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Tümü</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Gelen</a>
        <a class="dropdown-item" href="#">Giden</a>
    </div>
  </li>
</ul>