{% load static %}
{% load mesajlarFilitre_islemleri %}

<ul class="nav" style="background-color: lightgrey; font-size: small">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" {% if f|degerGetir:'ilgili' != '' %}style="font-weight: bold;color: darkred"{% endif %} aria-expanded="false">İlgili{{ f|degerGetir:'ilgili' }}</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'ilgili:Hepsi' %}">Hepsi</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'ilgili:kurum' %}">Kurum</a>
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'ilgili:ilan' %}">İlan</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" {% if f|degerGetir:'yon' != '' %}style="font-weight: bold;color: darkred"{% endif %} aria-expanded="false">Yön{{ f|degerGetir:'yon' }}</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'yon:Hepsi' %}">Hepsi</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'yon:giden' %}">Giden</a>
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'yon:gelen' %}">Gelen</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" {% if f|degerGetir:'durum' != '' %}style="font-weight: bold;color: darkred"{% endif %} aria-expanded="false">Durum{{ f|degerGetir:'durum' }}</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'durum:Hepsi' %}">Hepsi</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'durum:okunmadi' %}">Okunmadı</a>
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'durum:okundu' %}">Okundu</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" {% if f|degerGetir:'zaman' != '' %}style="font-weight: bold;color: darkred"{% endif %} aria-expanded="false">Zaman{{ f|degerGetir:'zaman' }}</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'zaman:Hepsi' %}">Hepsi</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'zaman:bugün' %}">Bugün</a>
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'zaman:buhafta' %}">Bu Hafta</a>
        <a class="dropdown-item" href="{% url 'mesajlarimislemi' f|yeni_filitre_olustur:'zaman:buay' %}">Bu Ay</a>
    </div>
  </li>
</ul>