{% load static %}
{% load crispy_forms_tags %}
<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top" style="font-family:Laksaman">
{#  <a class="navbar-brand" data-toggle="collapse" data-target=".navbar-collapse" data-placement="bottom">#}
{#      MENÜ#}
{#  </a>#}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'anasayfaislemi' %}" data-target=".navbar-collapse" data-placement="bottom"
         {% if islem == 'anasayfa' %}style="font-size: large; font-weight: bold;"{% endif %}>Ana Sayfa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'favoriislemi' %}" data-target=".navbar-collapse" data-placement="bottom"
        {% if islem == 'favorilerim' %}style="font-size: large; font-weight: bold"{% endif %}>
            Favoriler
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'ilanlarimislemi' %}" data-target=".navbar-collapse" data-placement="bottom"
        {% if islem == 'ilanlarım' %}style="font-size: large; font-weight: bold"{% endif %}>
            İlanlarım
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'tummesajlarimislemi' %}" data-target=".navbar-collapse"  data-placement="bottom"
        {% if islem == 'mesajlar' %}style="font-size: large; font-weight: bold"{% endif %}>
            Mesajlar
        </a>
      </li>
    </ul>
    <fieldset {% if islem is None %} disabled {% endif %} >
        <div class="form-inline form-group my-2">
            <input class="form-control col-md-8 col-sm-8 col-xs-8" type="search" placeholder="Aranan ..." aria-label="Ara">
            <button class="btn btn-primary ml-1 col-md-3 col-sm-3 col-xs-3" type="submit">Ara</button>
        </div>
    </fieldset>
    <div class="btn-group dropdown">
        <a  role="button" class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ user }}">
            <span class="fa fa-user-circle-o" style="font-size: 40px"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-md-left dropdown-menu-lg-right dropdown-menu-sm-left dropdown-menu-xl-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="font-weight: bold" href="{% url 'cikisislemi' %}">Çıkış</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'hesapbilgileriislemi' 'bilgiler' %}">Hesap Bilgilerim</a>
            <a class="dropdown-item" href="{% url 'hesapbilgileriislemi' 'parola' %}">Parolamı Değiştir</a>
        </div>
    </div>
  </div>
</nav>


{#<div class="modal fade" id="bilgiler{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#  <div class="modal-dialog" role="document">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <h5 class="modal-title" id="exampleModalLabel">Hesap Bilgileri</h5>#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#          <span aria-hidden="true">&times;</span>#}
{#        </button>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#          <form method="post">#}
{#              {{ bilgiler_formu|crispy }}#}
{#          </form>#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#          {% include 'includes/messages.html' %}#}
{#        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#        <button type="submit" class="btn btn-primary" data-dismiss="modal" name="bilgiler" value="{{ user.id }}">Kaydet</button>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}